<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629956303690-99ag60q20gnrv7hd9nunmn1tv5h9l8gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629956303690-99ag60q20gnrv7hd9nunmn1tv5h9l8gv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629956303690-j2scj7q3haeaf2pmt8jge4c97dtnceso.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACKGvYH8K00Bhc6cWyXyPhu_JJQOvrjF4</string>
	<key>GCM_SENDER_ID</key>
	<string>629956303690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuisson.cuissonapp</string>
	<key>PROJECT_ID</key>
	<string>cuisson-7a03b</string>
	<key>STORAGE_BUCKET</key>
	<string>cuisson-7a03b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629956303690:ios:fb239f650adc48a5783fb3</string>
	<key>DATABASE_URL</key>
	<string>https://cuisson-7a03b.firebaseio.com</string>
</dict>
</plist>